*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
/.vs
/Uzdevums1/Uzdevums1/.vs/Uzdevums1/v16/Server/sqlite3
/Uzdevums2/.vs/Uzdevums2/v16/Server/sqlite3
/Uzdevums2/.vs/Uzdevums2/DesignTimeBuild
